# Virtual environment
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

src/.env

# VS Code config (optional, if you use VS Code)
.vscode/

# OS-specific
.DS_Store
Thumbs.db
